.hero {
    background-image: linear-gradient(rgba(26, 96, 143, 0.8), rgba(0, 0, 0, 0.9)), url(/pexels-pixabay-416405.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    min-height: 400px;
  }
  

  
  .hero-content {
    transform: translateY(0);
    transition: transform 0.3s ease-out;
  }
  
  .hero:hover .hero-content {
    transform: translateY(-20px); /* Adjust the value to control the parallax effect */
  }
  
  